[submodule "JRift"]
	path = JRift
	url = https://github.com/mabrowning/JRift/
	branch = master
[submodule "Sixense-Java"]
	path = Sixense-Java
	url = https://github.com/mabrowning/Sixense-Java.git
	branch = master
